<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

	<!-- General Web Application Description -->
	<display-name>Data Entry Web App</display-name>
		<description>
			This application demonstrates how SQL queries are executed within JSP pages
		</description>
	<servlet>
		<servlet-name>signup</servlet-name>
		<jsp-file>/signup/signup.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>signup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>menu</welcome-file>
	</welcome-file-list>
</web-app>